.title Congratulations, you are almost done!
.desc 
.content
  %a Click to Continue
  %br/
  %br/
  %br/
  %br/
  %br/
  .tiny Due to laziness, this was not implemented :(
  .hide
    :escaped
      <html>
        <head>
        </head>
        <body>
        </body>
      </html>
