.title Fill in the blank swatches with colors by typing in a hex value!
.desc Hex values consist of six characters, it can either be letters from A-F or numbers from 0-9
.content.center
  %ul#palette
    %li.swatch
    %li.swatch
    %li.swatch
    %li.swatch
    %li.swatch
    %li.swatch
    %li.swatch
    %li.swatch
  %input#hex-color{:type => 'text', :placeholder => '#FF00FF'}
  %input#continue.button.transparent{:type => 'button', :value => 'Next', :disabled => 'disabled'}
