%h1 Highscores
%ul#highscore
  %li#header
    %span.player Name
    %span.score Score
    %span.time Time
  - @players.each do |player|
    %li
      %span.player= player.name
      %span.score= player.score
      %span.time= player.time
